body
{
	margin:0
}
.maincontainer{
	width:280px;
	height:260px;
	margin:auto;
	margin-top:170px;
}
.textbox{
	width:280px;
	height:38px;
	border-radius:35px;
}
.buttons{
	width:66px;
	height:55px;
	margin-top:6px;
	background-color:khaki;
	font-size:20px;
	border-radius:25px;
}